.achievements-intro h2 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
}

.achievements-intro p {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--primary-color);
}

.achievements-grid {
    margin-top: 2rem;
    gap: 1rem;
}

.achievements-column-left,
.achievements-column-right {
    display: flex;
    flex-direction: column;
}

.achievement-card h3 {
    font-size: var(--text-base);
    font-weight: bold;
}

.achievement-card h3 em {
    font-weight: normal;
}

.achievement-card .meta {
    font-size: var(--text-xs);
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-style: italic;
}

.achievement-card p,
.achievement-card ul li {
    font-size: var(--text-sm);
    line-height: var(--line-height-comfortable);
}

.achievement-card ul {
    list-style: disc;
}

.achievement-card h4 {
    font-size: var(--text-sm);
    font-weight: bold;
}

.achievement-card .result,
.achievement-card .key-learning {
    font-size: var(--text-sm);
    margin-top: 1rem;
}

.achievement-card .result em,
.achievement-card .key-learning em {
    font-style: italic;
}

.achievements-quote {
    background-color: var(--background-gray-light);
    text-align: center;
    position: relative;
}

.achievements-quote .quote-content {
    position: relative;
    padding: 0 1.5rem;
}

.achievements-quote .quote-mark {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: var(--accent-color);
    position: absolute;
    line-height: 1;
}

.achievements-quote .left-quote {
    top: -0.25rem;
    left: 0;
}

.achievements-quote .right-quote {
    bottom: -1rem;
    right: 0;
}

.achievements-quote p.italic {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    margin-bottom: 1rem;
}

.achievements-quote .attribution {
    font-size: var(--text-sm);
    margin-top: 0.5rem;
}

.attribution {
    padding: 0 1rem;
}

@media (width >= 40rem) {
    .achievements-intro h2 {
        font-size: var(--text-xl);
    }

    .achievements-intro p {
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
    }

    .achievements-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .achievements-column-left {
        grid-column: 1 / 2;
    }

    .achievements-column-right {
        grid-column: 2 / 3;
    }

    .achievements-column-left .achievements-quote {
        margin-top: auto;
    }

    .achievements-quote p.italic {
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
    }
}
